.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 12.5%;
}

.mainContent {
  display: flex;
  align-self: flex-start;
}