.orderForm {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}

.orderForm__input {
    font-size: 30px;
    width: 50%;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 15px;
}

.orderForm__label {
    margin-right: 40px;
    font-style: oblique;
}

.orderForm__submit {
    margin-left: 40px;
    width: 100px;
}

.orderForm_error {
    border: 1px solid red;
}
